<!DOCTYPE html>
<html>
<head>
    @model List<UsuarioViewModel>
    @{
        ViewData["Title"] = "Listagem de Usuários";
    }
</head>
<body>
    <div class="text-center">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success" role="alert">
                <button type="button" class="btn btn-success btn-sm close-alert" arial-label="Close">X</button>
                @TempData["SuccessMessage"]
            </div>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="Close">X</button>
                @TempData["ErrorMessage"]
            </div>
        }

        <div class="d-grid gap-2 d-md-flex justify-content-md-end mb-1">
            <a class="btn btn-success" role="button" asp-controller="Usuario" asp-action="Create">Adicionar</a>
        </div>

        <h1 class="display-4">Listagem de Usuários</h1>

        <table class="table" id="user-table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Login</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Data de cadastro</th>
                    <th scope="col">Data de alteração</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model != null && Model.Any())
                {
                    @foreach (UsuarioViewModel user in Model)
                    {
                        <tr>
                            <th>@(Model.IndexOf(user) + 1)</th>
                            <td>@user.Nome</td>
                            <td>@user.Login</td>
                            <td>@user.Email</td>
                            <td>@user.DataAlteracao</td>
                            <td>@(user.DataAlteracao != null ? user.DataAlteracao.ToString() : "N/A")</td>
                            <td>
                                <div class="btn-group" role="group">
                                    <a role="button" class="btn btn-primary" asp-route-id="@user.Id" asp-controller="Usuario" asp-action="Update" title="Editar">
                                        <i class="bi bi-pencil-square fs-6"></i>
                                    </a>
                                    <a role="button" class="btn btn-danger" asp-route-id="@user.Id" asp-controller="Usuario" asp-action="DeleteConfirmation" title="Excluir">
                                        <i class="bi bi-trash fs-6"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr class="odd">
                        <th></th>
                        <td></td>
                        <td></td>
                        <td>Nenhum usuário cadastrado</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</body>
</html>