<head>
    @model UsuarioRegisterViewModel
    @{
        Layout = "_LayoutLoggedOut";
        ViewData["Title"] = "Cadastro";
    }
    <link rel="stylesheet" href="~/css/register.css">
</head>
<body>
    <div class="register-wrapper">
        <div class="register-left">
            <h1 class="register-left-titulo">GalaxyControl</h1>
            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success" role="alert">
                    <button type="button" class="btn btn-success btn-sm close-alert-success" data-bs-dismiss="alert" arial-label="Close">X</button>
                    @TempData["SuccessMessage"]
                </div>
            }

            @if (TempData["ErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    <button type="button" class="btn btn-danger btn-sm close-alert-error" data-bs-dismiss="alert" aria-label="Close">X</button>
                    @TempData["ErrorMessage"]
                </div>
            }
            <div class="register-card">
                <h2>Registro</h2>
                <form asp-controller="Login" class="form-container" asp-action="Register" method="post">
                    <div class="input-group">
                        <label for="nome" name="nome">Nome</label>
                        <input type="text" asp-for="Nome" id="nome" placeholder="Informe o nome completo" required>
                        @Html.ValidationMessageFor(x => x.Nome, "", new { @class = "text-danger" })
                    </div>
                    <div class="input-group-wraper">
                        <div class="input-group">
                            <label for="email" name="email">Email</label>
                            <input type="email" asp-for="Email" id="email" placeholder="Informe seu email" required>
                            @Html.ValidationMessageFor(x => x.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="input-group-wraper">
                        <div class="input-group">
                            <label for="senha" name="senha">Senha</label>
                            <div class="input-group">
                                <input type="password" asp-for="Senha" class="form-control" id="senha" placeholder="Informe a senha" required>
                                <button class="input-group-showPassword" type="button" id="showHidePassword">
                                    <i class="fa fa-eye" aria-hidden="true"></i>
                                </button>
                            </div>
                            @Html.ValidationMessageFor(x => x.Senha, "", new { @class = "text-danger" })
                        </div>
                        <div class="input-group">
                            <label for="confirmacaoSenha" name="confirmacaoSenha">Confirmação de senha</label>
                            <input type="password" asp-for="ConfirmacaoSenha" id="confirmacaoSenha" placeholder="Informe a senha" required>
                            @Html.ValidationMessageFor(x => x.ConfirmacaoSenha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="btn">Cadastrar</button>
                        <a asp-action="Index" asp-controller="Login" class="btn register-btn">Voltar ao Login</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="register-right">
        </div>
    </div>
</body>